:root {
  --color-white: #ffffff;

  --color-light-grey: #e3e3e3;
  --color-dark-grey: #666;

  --color-indigo: #2c3e50;
  --color-green: hsla(160, 100%, 37%, 1);
  --color-dark-green: hsl(160, 97%, 26%);
  --color-dark-orange: hsl(36, 98%, 37%);
  --color-orange: hsl(30, 94%, 47%);
  --color-black: #111;
}

:root{
  --default-border-radius: 3px;
  --default-circle-size: 40px;
  --default-font-size: 20px;
  --default-space: 20px;
  --default-half-space: calc(var(--default-space) / 2)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-dark-grey);
  background: var(--color-light-grey);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family:  Lato, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
