
button{
    border-radius: var(--default-border-radius);
    background-color: var(--color-green);
    color: var(--color-white);
    border:0;
    font-weight:900;
    text-transform: uppercase;
    padding: 0 var(--default-space);
    min-height:30px;
    cursor:pointer;
    transition: color .4s;
}

button:active{
    background-color: var(--color-indigo);
}

button.warning{
    background-color: var(--color-orange);
}

button.warning:active{
    background-color: var(--color-dark-orange);
}

button.circle{
    border-radius: 9999px;
    height: var(--default-circle-size);
    width: var(--default-circle-size);
    text-align: center;
    line-height: var(--default-circle-size);
    padding: 0;
    font-size:35px
}

.button-container-wrapper{
    display: block;
    justify-content: initial;
    flex-direction: initial;
}

.button-container{
    display: flex;
    align-items: center;
    margin: var(--default-half-space) 0;
}

.button-container.right{
    justify-content: right;
}

.button-container > *{
    margin-right: var(--default-half-space);
}

.button-container > *:last-child {
    margin-right: 0;
}


@media (min-width: 1024px) {
    .button-container-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}