
.chips{
    display: flex;
    flex-wrap: wrap;
}

.chip{
    list-style: none;
    background-color: var(--color-light-grey);
    color: var(--color-dark-grey);
    border-radius: var(--default-border-radius);
    padding: 5px var(--default-half-space);
    margin: 0 5px 5px 0;
}